<h1 class="text-center">Update <%= @potion.name %></h1>
<div style="mb-3">
  <%= link_to '<- Back to Potion', potion_path(@potion), class: 'btn btn-info' %>
</div>
<%= render Potions::FormComponent.new(potion: @potion) %>
