<div class="d-flex mb-3">
  <div class="me-auto ms-auto p-2">
    <h1>Potions</h1>
  </div>
  <div class="p-2"><%= button_to 'New Potion', new_potion_path, class: 'btn btn-info', method: :get %></div>
</div>
<%= render 'filter' %>
<%= render Potions::TableComponent.new(potions: @potions) %>
