<div class="table-responsive">
  <table class="table table-dark table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>User</th>
        <th>Effect</th>
        <th>Potency</th>
        <th colspan="2" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @potions.each do |potion| %>
        <%= render Potions::RowComponent.new(potion: potion, current_user: helpers.current_user) %>
      <% end %>
    </tbody>
  </table>
</div>
