<div class="d-flex flex-column justify-content-center align-items-center min-vh-100 text-center">
  <h1 class="display-1 mb-5">Potion Crafter Welcomes You!</h1>
  <h2>Please Log In Below</h2>
  <div>
    <%= render 'users/form', path_for_form: login_path, submit_text: 'Login', include_confirmation: false %>
  </div>
  <div class="mt-5">
    <h3>New to the creepiness? <%= link_to 'Sign Up!', new_user_path, class: 'link-light' %></h3>
  </div>
</div>
