<h1 class="text-center">New User</h1>
<div style="padding-bottom: 2em;">
  <%= link_to 'Back to Login', login_path %><br>
</div>
<%= render 'users/form', submit_text: 'Create User', include_confirmation: true %>
