<nav>
  <p>I'm the navbar</p>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Potions', potions_path %></li>
    <li><%= link_to 'Log Out', logout_path %></li>
  </ul>
</nav>
