<nav>
  <small><%= link_to 'Home', root_path %></small>
  <small><%= link_to 'Potions', potions_path %></small>
  <small><%= link_to 'Ingredients', ingredients_path %></small>
  <small><%= link_to 'Log Out', logout_path %></small>
</nav>
